<html>
  <body>
    <h2>Recruitment</h2>
    <ul>
      <li>Direction: {{recruitment.direction}}</li>
      <li>Responsable: {{recruitment.responsable}}</li>
      <li>Date de demande{{recruitment.date_demande}}</li>
      <li>Poste: {{recruitment.poste}}</li>
      <li>Type du Poste{{recruitment.get_poste_type_display}}</li>
      <li>Poste description{{recruitment.poste_description}}</li>
      <li>Motivation:{{recruitment.motivation}}</li>
      <li>Experience requise: {{recruitment.exp_requise}}</li>
      <li>Formation requise: {{recruitment.formation_requise}}</li>
    </ul>
  </body>
</html>
