<html>
  <body>
    <h2>{{ finance.get_doc_type_display }}</h2>
    <ul>
      <li>
        Nom et prenom: {{ finance.employee.first_name }}
        {{finance.employee.last_name }}
      </li>

      <li>Poste: {{finance.employee.get_poste_display}}</li>
      <li>Montant: {{ finance.montant }}</li>
      <li>Motif: {{ finance.motif }}</li>
      <li>Nombre d'echeance{{ finance.nb_echeances }}</li>
      <li>Avis Responsable ressource humaine{{ finance.avis_rf }}</li>
      <li>Status: {{ finance.status }}</li>
    </ul>
  </body>
</html>
