<html>
  <body>
    <p>Email:{{employee.email}}</p>
    <p>Nom et Prenom: {{employee.first_name}} {{employee.last_name}}</p>
    <p>Cin:{{employee.cin}}</p>
    <p>Sexe: {{employee.get_sexe_display}}</p>
    <p>
      Adresse:{{employee.adresse}} {{employee.ville}} {{employee.code_postal}}
    </p>
    <p>Nationnalite: {{employee.nationnalite}}</p>
    <p>
      Date et Lieu de naissance: {{employee.date_naissance}}
      {{employee.lieu_naissance}}
    </p>
    <p>Poste: {{employee.get_poste_display}}</p>
  </body>
</html>
